<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>D306 bookie</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<p>You can only pick ONCE!! <br>
		   Must be picked by 7pm!!!
		</p>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <% if (name == 'donky') { %>
                	<form action="/score" method="post">

						<hr>
					    <button type="submit" class="btn btn-warning btn-lg">cal score</button>
					    
				    </form>	
				 
				 <% } %>
	</div>

	<div class="row">
		<div class="well">
        
			<% if (allPicks.length>0)  { %>
				<h4> all your picks from day 1 : </h4>
                    <table class="table table-bordered">
					  <tr>
					    <th>day#</th>
					    <th>picks...</th>
					  </tr>
					  <% for(var i=0; i<allPicks.length; i++) {%>
					  		<tr>
					  			<td><%= i+1 %></td>
						  		<% for(var j=0; j<allPicks[i].length; j++) {%>
						  			<td><%= allPicks[i][j] %></td>
						  		<% } %>
					  			
					  		</tr>
					  <% } %>
					 
					  </table>
			<% } %>
         
    	</div>
    </div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Time is <%= day %></h3>

                <% if (picks.length==0 && sevenOclock==false && nextDay==false) { %>
                	<form action="/profile" method="post">

	    				<h1>todays matches</h1>
	    				<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match1" value="Lakers+1" >Lakers Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match1" checked="checked" value="Pelicans-1" >Pelicans-1
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match2" value="Celtics+2.5" >Celtics Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match2" checked="checked" value="Pacers-2.5" >Pacers-2.5
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match3" value="Knicks+7" >Knicks Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match3" checked="checked" value="Raptors-7" >Raptors-7
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match4" value="76ers+13.5" >76ers Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match4" checked="checked" value="Hawks-13.5" >Hawks-13.5
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match5" value="Wizards+10" >Wizards Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match5" checked="checked" value="Bulls-10" >Bulls-10
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match6" value="Spurs-1" >Spurs Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match6" checked="checked" value="Rockets+1" >Rockets+1
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match7" value="Clippers-4" >Clippers Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match7" checked="checked" value="Timberwolves+4" >Timberwolves+4
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match8" value="Jazz-3" >Jazz Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match8" checked="checked" value="Heat+3" >Heat+3
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match9" value="Grizzlies+2.5" >Grizzlies Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match9" checked="checked" value="Bucks-2.5" >Bucks-2.5
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match10" value="Pistons+5.5" >Pistons Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match10" checked="checked" value="Nuggets-5.5" >Nuggets-5.5
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match11" value="Nets+4.5" >Nets Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match11" checked="checked" value="Suns-4.5" >Suns-4.5
				    	</label>
				    	
						<hr>
					    <button type="submit" class="btn btn-warning btn-lg">Pick'em</button>
					    
				    </form>
				 <% } else if(picks.length>0){ %>
				 
                	<h4> Today you picked: </h4>
                    <ul>
						<% for(var i=0; i<picks.length; i++) {%>
   							<li><%= picks[i] %></li>
						<% } %>
					</ul>
				<% } else if(nextDay==true){ %>
					<h4> New Day, update soon! </h4>
			    <% } else { %>
             		<h4> Sorry buddy, you missed boat today! </h4>
             <% } %>

            </div>
        </div>

	</div>

</div>
</body>
</html>

