<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>D306 bookie</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<p>You can only pick ONCE!! <br>
		   Must be picked by 7pm!!!
		</p>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <% if (name == 'donky') { %>
                	<form action="/score" method="post">

						<hr>
					    <button type="submit" class="btn btn-warning btn-lg">cal score</button>
					    
				    </form>	
				 <% } %>
	</div>

	<div class="row">
		<div class="well">
        
			<% if (lastPicks.length>0)  { %>
				<h4> Your picks from last night : </h4>
                    <ul>
						<% for(var i=0; i<lastPicks.length; i++) {%>
   							<li><%= lastPicks[i] %></li>
						<% } %>
					</ul>
			<% } %>
         
    	</div>
    </div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Date is <%= day %></h3>

                <% if (picks.length==0 && sevenOclock==false) { %>
                	<form action="/profile" method="post">

	    				<h1>todays matches</h1>

						<label class="radio-inline">
				      	<input type="radio" name="match1" value="Heat+4" >Heat Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match1" value="Magic-4" checked="checked" >Magic-4
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match2" value="Mavericks+6.5" >Mavericks Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match2" value="Pacers-6.5" checked="checked" >Pacers-6.5
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match3" value="Nets+13.5" >Nets Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match3" value="Celtics-13.5" checked="checked" >Celtics-13.5
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match4" value="Pistons+7.5" >Pistons Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match4" value="Raptors-7.5" checked="checked" >Raptors-7.5
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match5" value="Hornets-2" >Hornets Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match5" value="Bucks+2" checked="checked" >Bucks+2
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match6" value="Timberwolves+2" >Timberwolves Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match6" value="Grizzlies-2" checked="checked" >Grizzlies-2
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match7" value="Nuggets+2.5" >Nuggets Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match7" value="Pelicans-2.5" checked="checked" >Pelicans-2.5
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match8" value="Thunder-9" >Thunder Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match8" value="76ers+9" checked="checked" >76ers+9
				    	</label>
						<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match9" value="Kings+2.5" >Kings Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match9" value="Suns-2.5" checked="checked" >Suns-2.5
				    	</label>
				    	<hr>
						<label class="radio-inline">
				      	<input type="radio" name="match10" value="Rockets-6.5" >Rockets Vs
				    	</label>
				    	<label class="radio-inline">
				      	<input type="radio" name="match10" value="Lakers+6.5" checked="checked" >Lakers+6.5
				    	</label>
						
						<hr>
					    <button type="submit" class="btn btn-warning btn-lg">Pick'em</button>
					    
				    </form>
				 <% } else if(picks.length>0){ %>
				 
                	<h4> Today you picked: </h4>
                    <ul>
						<% for(var i=0; i<picks.length; i++) {%>
   							<li><%= picks[i] %></li>
						<% } %>
					</ul>
				<% } else { %>
             		<h4> Sorry buddy, you missed boat today! </h4>
             <% } %>

            </div>
        </div>

	</div>

</div>
</body>
</html>
